ul {
    font-family: 'Courier New';
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

}

li {
    float: left;
}

#portfolio_nav {
    border-right:1px solid #bbb;
}

#contact_nav {
    border-right: 1px solid #bbb;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    opacity: 1;
}

li a:hover:not(.active) {
    text-decoration: underline;
}

.active {
    background-color: #4CAF50;
}

/* Create two equal columns that floats next to each other */
#first_project {
    float: left;
    width: 570px;
    height: 380px;
    margin: 20px;
    background-color: #f2f2f2;
}

#first_project2 {
    float: left;
    width: 570px;
    height: 380px;
    margin: 20px;
    background-color: #f2f2f2;
}

#first_project3 {
    float: left;
    width: 570px;
    height: 380px;
    margin: 20px;
    background-color: #f2f2f2;
}
#first_project4 {
    float: left;
    width: 570px;
    height: 380px;
    margin: 20px;
    background-color: #f2f2f2;
}


.column {
    float: left;
    width: 50%;
    padding: 10px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

* {
    box-sizing: border-box;
}

h2{
    text-align: center;
    font-family: 'DejaVu Sans Mono', monospace;
    padding-top: 140px;
}

p {
    font-family: 'DejaVu Sans Mono', monospace;
    padding-left: 20px;
    text-align: center;
}

button{
    padding-bottom: 5px;
    margin-top: 50px;

}