ul {
    font-family: 'Courier New';
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

}

li {
    float: left;
}

#portfolio_nav {
    border-right:1px solid #bbb;
}

#contact_nav {
    border-right: 1px solid #bbb;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    opacity: 1;
}

li a:hover:not(.active) {
    text-decoration: underline;
}

.active {
    background-color: #4CAF50;
}

.btn {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

.btn-primary {
    color: #ffffff;
}
